.App {
  text-align: center;
}


.App-header {
  background-color: aqua;
  display: flex;
  flex-direction: rows;

  min-height: 100vh;
  display: flex;
  margin: 0 auto;
 
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);

  width: 90vw;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
