.App {
  text-align: center;
  background-color:rgba(235, 174, 62, 0.986);
  margin: 0 auto;
  
display: flex;
width: 95%;


font-size: calc(10px + 2vmin);


}



#left{
 
  width: 35%;

  height: 100vh;
 
  grid-area: left;
 
}
#right{

  display: flex;
  flex-direction: column;
  justify-content: center;

  border: 1px solid grey;

  width:65%;
  height: 100vh;
  grid-area: right;
}
.butt{
  width: 100%;
  height: 50px;
  margin: 2px;
 
 
}
#child{
  height: 299px;
  width: 299px;
  background-color:cadetblue;
}